@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
/* -------------------------------------UTILITY CLASSES------------------------------------------ */
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btnPrimary{
    text-decoration: none;
    background-color: #16a083;
    color: #fff;
    padding: .2em;
    padding-right: .9em;
    padding-left: .9em;
    border-radius: 3em;
}
.btnPrimary:hover{
    background-color: #fff;
    color: #16a083;
    border: #16a083 solid 1px;
}
/* -----------------------------------------DESKTOP MODE-------------------------------------------------- */
/* ---------------------------------------NAVBAR DEISNG------------------------------------------------- */
.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;    
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 95%;
    background-color: #fff;
}
.navbarContainer{
    display: flex;
    justify-content: space-between;
}
.navitems{
    display: flex;
}
.navitems a{
    text-decoration: none;
    color: #444;
}
.navitems a:hover{
    text-decoration: none;
    color: #117964;
    border-bottom: #117964 solid 1px;
    transition: all 2ms ease-in-out;
}
.navbarContainer .logo{
    font-size: 3.5rem;
    padding-top: .15em;
    padding-bottom: .5em;
}
.navitems li{
    list-style: none;
    padding-left: .5em;
    font-size: 3.5rem;
}
/* ----------------------------------------HOME DEISNG----------------------------------- */
.showcaseArea{
    background: url(./6obis/header-image2.jpg);
    font-size: 6rem;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.showcaseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.showcaseArea .mainTitle{
    text-transform: uppercase;
    padding-bottom: .3em;
}
.showcaseArea p{
    text-transform: capitalize;
    font-size: 50%;
    padding-bottom: .8em;
}
/* ------------------------------------------ABOUT US PAGE DESING-------------------------------------------------------- */
#about{
    background-color: #f5f5f5;
    padding: 50px 0px;
}
.aboutTextPart{
    font-size: 3rem;
    width: 600px;
    animation: aboutUsTextAnimation ease-in-out forwards .7s;
    transform: translateX(-150%);
}
.aboutTextPart h2{
    font-size: 3rem;
    color: #444;
    font-weight: 600;
}
.smallHeading{
    color: #666;
}
.aboutSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.aboutImgPart img{
    display: block;
    height: 400px;
    transform: translateX(150%);
    animation: aboutUsImageAnimation ease-in-out forwards .7s;
}
@keyframes aboutUsTextAnimation {
    100%{
        transform: translateX(0%);
    }
}
@keyframes aboutUsImageAnimation {
    100%{
        transform: translateX(0%);
    }
}
/* ----------------------------------------FOOD AREA DESING------------------------------------------------- */
.foodContainer{
    display: flex;
    justify-content: space-between;
}
.foodHeading{
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    padding-top: 1em;
    padding-bottom: .5em;
    color: #555;
}
.foodType img{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 300px;
}
.imgContainer{
    position: relative;
    margin: 0 10em;
}
.imgContainer h2{
    color: #fff;
}
.btnNew{
    text-transform: uppercase;
    font-size: .3em;
    padding: .8em 1em;
}
.imageContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    font-size: 5rem;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.imgContainer::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.imgContainer:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.imgContainer:hover .imageContent{
    opacity: 1;
    top: 40%;
}
/* --------------------------------------------FOOD MENU ITEMS----------------------------------------------- */
.foodMenuHeading{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #666666;
    margin: 1em;
}
.foodMenuContainer{
    display: flex;
}
.foodMenuItems{
    display: flex;
    font-size: 3rem;
    align-items: center;
    padding-bottom: 2em;
}
.foodMenuItems img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.foodTitle{
    font-size: 3rem;
    font-weight: 400;
    padding-left: 1em;
}
.foodDescription{
    padding-left: 1em;
    font-size: 1.2rem;
    font-weight: 600;
    color: #666;
}
.foodPrice{
    padding-left: 1em;
    font-size: 1.5rem;
    color: green;
    font-weight: 800;
}
/* -------------------------------------------------TESTIMONIALS DESING------------------------------------------------------- */
#testimonials{
    background-color: #eee;
}
.customers {
    text-align: center;
}
.customers img{
    width: 300px;
    height: 300px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}
.testimonialsContainer{
    display: flex;
}
.customers .review{
    font-size: 2.2rem;
    padding: 2em;
    padding-bottom: .1em;
    text-align: center;
    padding-bottom: .5em;
}
.testimonialHeading{
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}
.customerName{
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 2em;
    padding-top: .5em;
}
/* -----------------------------------CONTACT US DESING-------------------------------------------- */
#contact{
    padding-top: 15em;
    background-color: #dfdfdf;
    padding-bottom: 15em;
}
.conatactContainer{
    display: flex;
}
.imgPart img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.form{
    background-color: #fff;
}
.contactHeading{
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    padding-bottom: 1.5em;
}
input{
    display: block;
    width: 400px;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    border: none;
    border-bottom: #ddd solid 2px ;
    font-weight: 500;
    outline: none;
    box-shadow: none;
}
textarea{
    width: 100%;
    height: 150px;
    font-weight: 400;
    font-size: 1.5rem;
}
.submitbtn{
    font-size: 2rem;
    border-radius: 8px;
    padding: auto;
}
#footer h2{
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    background-color: rgb(68, 68, 68);
}
/* -------------------------------RESPONSIVENESS-------------------------------------------- */
@media(max-width:768px){
    nav{
        display: none;
    }
    .foodContainer{
        flex-direction: column;
    }
    .foodContainer img{
        margin-bottom: 50em;
    }
    .foodMenuContainer{
        flex-direction: column;
    }
    .testimonialsContainer{
        flex-direction: column;
    }
    .conatactContainer{
        flex-direction: column;
    }
    .aboutImgPart img{
        width: 100%;
    }
    .aboutTextPart{
        padding-bottom: 1em;
    }
    .foodMenuItemsText{
        padding-bottom: 1em;
        padding-top: 1em;
    }
}
@media (max-width:500px){
    html{
        font-size: 50%;
    }
    .foodMenuItems{
        flex-direction: column;
        text-align: center;
    }
    input{
        width: 100%;
    }
}